body{
  overflow-x:hidden ;
  background-image:url(img/fondo.jpg) ;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  opacity: .9;
  font-family: 'Share Tech', sans-serif;
 
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 2s;
}

.spinner-border {
  height: 40px;
  width: 40px;
}

.logo {
  width: 150px; 
  margin-bottom: 20px; 
  position: absolute; 
  top: 260px; 
}

.navbar {
  background-image: url('img/Lineas.png'); 
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px; 
  color: white; 
}


.navbar-nav .nav-link {
  margin-right: 15px; 
  color: white !important; 
  font-family: 'Share Tech Mono', monospace !important;
}


@media (max-width: 768px) {
  .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important; 
  }
}
.navbar-toggler-icon {
  color: white; 
}
.seccion {
        margin-top: 40px; 
        margin-bottom: 40px;
      }
.navbar-brand img {
        max-width: 80px; 
        height: auto;
      }
      .banner-section {
        position: relative;
        z-index: 2; 
        background-color: rgba(255, 255, 255, 0.9); 
        padding: 20px; 
        text-align: center; 
        margin-right: 75px;;
        margin-left: 75px;
        margin-top: 25px;
      }
      
      .banner-item {
        height: 200px; 
        margin-bottom: 20px; 
        background-size: cover; 
        background-position: center; 
        color: #000; 
        padding: 20px; 
        box-sizing: border-box; 
      }


    .carousel-item:nth-child(1) {
  background-image: url('img/mision.jpg');
  background-repeat: no-repeat;
  background-size: cover;  
  min-height: 400px;
  max-width: 1920px;
  color: #fff;
  border-radius: 10px;
  text-align: justify;
  
  
}

.carousel-item:nth-child(2) {
  background-image: url('img/vision.png');
  background-repeat: no-repeat;
  background-size: cover;  
  min-height: 400px;
  max-width: 1920px;
  color: #fff;
  border-radius: 10px;
  text-align: justify;
  
}

.carousel-item:nth-child(3) {
  background-image: url('img/valores.png');
  background-repeat: no-repeat;
  background-size: cover;  
  min-height: 400px;
  max-width: 1920px;
  text-align: justify;
  color: #fff;
  border-radius: 10px;

  
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; 
}
.mision, .vision, .valores{
  text-align: center;
}

.seccion-productos, .seccion-servicios {
        background-color: #001f3f;
        text-align: center;
        padding: 30px;
        
      }
      .productos-grid, .servicios-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 110px;
        justify-items: center; 
        padding-bottom: 20px;
        margin: 0 auto; 
        max-width: 1200px; 
      }

.producto, .servicio {
        background-color: #ffffff; 
        padding: 20px;
        border-radius: 5px;
      }
.titulo {
        color: white;
      }

.footer {
        background-image: url('img/footer.png'); 
        background-size: fill;
        background-position: left;
        background-repeat: no-repeat;
        color: white; 
        padding: 20px; 
      }
.dark-mode {
        background-color: #222;
        color: #fff;
        background-image: url('img/fondoMO.jpg'); 
      }

#scrollBtn {
        display: none; 
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9999; 
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: opacity 105s, visibility 1s;
        background-image: url('img/flecha.png'); 
        background-size: cover; 
      }
      
      
.dark-mode #scrollBtn {
        background-color: #343a40;
      }
      #contactForm input[type="text"],
      #contactForm input[type="tel"],
      #contactForm textarea,
      #contactForm input[type="email"] {
        background-color: rgba(0, 0, 0, 0.1); 
        border: 1px solid #ced4da; 
        border-radius: 5px; 
        padding: 10px; 
        color: #495057; 
        width: 100%; 
        margin-bottom: 10px; 
      }
#campo
      {
        border-radius: 10px ;
      }